<div class="ticket-list--container">
	<div class="ticket-list--header">
		<h2 class="ticket-list--header__title">Liste des tickets</h2>
		<input
			type="search"
			placeholder="Search for tickets..."
			[(ngModel)]="searchQuery"
			(ngModelChange)="searchForTickets()"
			class="search-input"
		/>
	</div>
	<div *ngIf="isLoading" class="placeholder--loading">Loading data...</div>
	<ul *ngIf="!isLoading">
		<li *ngFor="let ticket of filteredList" [routerLink]="[ticket?.id]">
			<app-ticket [ticket]="ticket" (onRemove)="removeItem(ticket.id)"></app-ticket>
		</li>
		<li routerLink="new"><a>Ajouter un ticket</a></li>
	</ul>
</div>
