.container {
	padding: 1rem;
}

.placeholder--loading {
	font-size: 3rem;
	text-align: center;
}

.ticket-list--header {
	display: flex;
	margin: 1rem;
	background-color: #fff;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-light);
  transition: box-shadow 0.5s;
  display: flex;
	outline: none;
	align-items: center;
}

.ticket-list--header__title {
	flex: 0 0 max-content;
	margin-right: 2rem;
}

.search-input {
	font-family: inherit;
	font-size: 1.2rem;
	color: var(--color-grey-dark-3);
	background-color: var(--color-grey-light-2);
	padding: 0.7rem 2rem;
	border-radius: 100px;
	border: none;
	flex: 1;
	transition: all 0.3s;
}

.search-input:focus {
	outline: none;
	background-color: var(--color-grey-light-3);
}

.search-input::-webkit-input-placeholder {
	font-weight: 400;
	color: var(--color-grey-dark-3);
	font-size: 1.5rem;
}

ul {
	padding-left: 2rem;
  padding-right: 2rem;
  list-style: none;
	display: flex;
	flex-wrap: wrap;
}

li {
	background-color: #fff;
	padding: 3rem;
	margin-bottom: 3.5rem;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	box-shadow: var(--shadow-light);
  transition: box-shadow 0.5s;
	display: flex;
	max-width: 30%;
  flex-direction: column;
	margin: 1rem;
	outline: none;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
	color: inherit;
	display: flex;
}

.ticket__icon {
	height: 2.25rem;
	width: 2.25rem;
	fill: var(--color-primary);
}

li:hover {
	cursor: pointer;
}

.btn-remove,
.btn-modify {
  margin-top: 3rem;
	border-radius: 20px;
	color: white;
	outline: none;
	border: none;
	padding: 1rem;
	font-weight: bold;
	font-size: 1.4rem;
}

.btn-remove {
	background-color: var(--color-primary);
	margin-left: 1rem;
}

.btn-modify {
	background-color: limegreen;
}

.btn--actions {
	display: flex;
	justify-content: flex-start;
}
